.container {
  margin: 50px 15%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  width: 30%;
  margin-bottom: 50px;
}

.portfolio-item img {
  width: 100%;
  height: auto;
}

.portfolio-item h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-item p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}